@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ОТМИРАНИЕ РАЗМЕТКИ, ПЕРЕХОД ОТ BOOTSTRAP</h1>
    <video style="height:auto; max-width:100%" src="~/Mediaelements/Killswitch Engage - My Curse - full acoustic cover.mp4" controls="controls" width="800"></video>
    <p class="lead">Основной хост для рабочих проектов Kirk7by</p>
    <p><a href="http://10.0.12.6/" class="btn btn-primary btn-lg">Топовая ссылка &raquo;</a></p>
</div>