@charset "UTF-8";
/* line 1, ../sass/kirk7byStyle.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 13, ../sass/kirk7byStyle.scss */
body {
  margin: 0;
  background: #D8D8D8;
}

/* line 18, ../sass/kirk7byStyle.scss */
header {
  display: block;
  background: #FAFBFA;
}

/* line 24, ../sass/kirk7byStyle.scss */
.head-menu {
  background: #D8D8D8;
}

/* line 29, ../sass/kirk7byStyle.scss */
.logo-munu {
  background: #FAFBFA;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
/* line 34, ../sass/kirk7byStyle.scss */
.logo-munu .right-logo {
  float: right;
}

/* line 40, ../sass/kirk7byStyle.scss */
.menu-menu {
  background: #FFFFFF;
  width: auto;
}

/* line 45, ../sass/kirk7byStyle.scss */
ul.buttons-head-menu {
  text-align: center;
  padding: 0px;
}
/* line 49, ../sass/kirk7byStyle.scss */
ul.buttons-head-menu li {
  margin-bottom: 2px;
  display: inline-block;
  padding-right: 5px;
}
/* line 54, ../sass/kirk7byStyle.scss */
ul.buttons-head-menu li a {
  background: #FFFFFF;
  color: #000000;
  transition-duration: 0.05s;
  -webkit-transform: skewX(-18deg);
  /* Для Safari и Chrome */
  -moz-transform: skewX(-18deg);
  /* Для Firefox */
  -o-transform: skewX(-18deg);
  /* Для Opera */
  -ms-transform: skewX(-18deg);
  /* Для IE */
  transform: skewX(-18deg);
  /* CSS3 */
  padding: 15px 15px 15px 15px;
  /* Поля вокруг текста */
  transition: .1s ease-out;
  display: block;
  /* Блочный элемент */
  text-decoration: none;
  /* Убираем подчёркивание */
  font-family: 'Comic Sans MS';
  font-size: 14pt;
  z-index: 0;
}
/* line 77, ../sass/kirk7byStyle.scss */
ul.buttons-head-menu a:hover {
  transform: scale(1.3);
  background: #757575;
  background-color: #ffffff;
  color: #FF006B;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
}

/* line 93, ../sass/kirk7byStyle.scss */
.container-div {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

/* line 100, ../sass/kirk7byStyle.scss */
.jumbotron {
  text-align: center;
}
